@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap');


:root {
    --primary:  rgb(151, 136, 166);
    --dark: #60a1cf;
    --black: #0d1117;
    --gray: #30363d;
    --light: white;


    --blur: blur(20px);
    --shadow: 0 0 30px var(--gray);

    --radius: 1.0rem;

}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
} 

body {
    background: url(img/pustolov\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* --- Header Section --- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0 10px 0;
    background: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid rgb(255, 255, 255 .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .95);
    color: papayawhip;
}

.logo {
    
    font-size: 3rem;
    font-family: Righteous;
    font-weight: bold;
    color:  var(--light);
    user-select: none;
    cursor: pointer;
    margin: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.logo span {
    color:  var(--primary);
    font-family: Righteous;
}


nav{
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
    align-items: center;

}

.navlist .underline a {
    position: relative;
    font-size: 1.1rem;
    color: var(--light);
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    width: fit-content;
}




/* --- Sliding Underline ---  */  
.navlist .underline a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navlist .underline a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}





/* 


nav .nav{
    padding: 30px;
}

.nav a{
    font-size: 1.2rem;
    color: var(--light);
    text-decoration: none;
    margin: 40px;
}

 nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
 nav a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
} */

ul a .loginbutton {
    background-color: rgb(220, 220, 220);
    margin-left: 0px;
    text-decoration: none;
    border: none;
    border: none;
    outline: none;
    color: gray;
    width: 100%;
    height: 35px;
    padding: 0 5px 0 5px;
    margin-left: 40px;


}




button {
    
    text-decoration: none;

    width: 120px;
    height: 45px;
    background-color: rgb(107, 107, 107, 25%);
    
    border: 2px solid papayawhip;
    color: gray;
    font-size: 1.1em;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
}

.wrapper {
    background: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid rgb(255, 255, 255 .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .95);
    border-radius: 20px;
    width: 300px;
    height: auto;
    color: papayawhip;
    padding: 5px;

}
.wrapper h2 {
    margin-bottom: 15px;

}



.centralni-input {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.centralni-input input, select {
    height: 25px;
    width: 190px;
    background-color: rgb(220, 220, 220);
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0 10px 0 10px ;
    margin: 0 15px 15px 15px;


}

/* --- Search section --- */

.searchbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(220, 220, 220);
    border-radius: 25px;
    /* width: 160px; */
    height: 35px;
}


.searchbox input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 15px;
    width: 85px;
    height: 35px;
}

.searchbox .searchbutton {
    border: none;
    border: none;
    outline: none;
    color: gray;
    width: 55px;
    height: 35px;
    padding: 0;
    margin: 0;
}

.searchresults {
    width: 300px;
    height: auto;
    padding: 25px;
    margin: 20px;

}