@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Comfortaa';
}

body {
    background: url(img/pustolov\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0 10px 0;
    background: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid rgb(255, 255, 255 .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .95);
    color: papayawhip;

}

.navmenu {
    display: flex;
    align-items: center;
}

header h2 {
    margin: 30px;
    font-size: 2.5em;
    user-select: none;
    cursor: pointer;
}

nav .nav{
    padding: 30px;
}

.nav a{
    padding: 20px;
    margin: 20px;
}




main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;

}

button {
    width: 120px;
    height: 45px;
    background-color: rgb(107, 107, 107, 25%);
    
    border: 2px solid papayawhip;
    color: papayawhip;
    font-size: 1.1em;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
}

.wrapper {
    background: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid rgb(255, 255, 255 .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .95);
    border-radius: 20px;
    width: 300px;
    height: auto;
    color: papayawhip;
    padding: 5px;

}
.wrapper h2 {
    margin-bottom: 15px;

}



.centralni-input {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.centralni-input input, select {
    height: 25px;
    width: 190px;
    background-color: rgb(220, 220, 220);
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0 10px 0 10px ;
    margin: 0 15px 15px 15px;


}

/* --- Search sekcija --- */

.searchbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(220, 220, 220);
    border-radius: 25px;
    width: 160px;
    height: 35px;
}


.searchbox input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 15px;
    width: 85px;
    height: 35px;
}

.searchbox button {
    border: none;
    border: none;
    outline: none;
    color: gray;
    width: 55px;
    height: 35px;
    padding: 0;
    margin: 0;
}

.searchresults {
    width: 300px;
    height: auto;
    padding: 25px;
    margin: 20px;

}